# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Conda
conda-meta/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.spec

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary files
*.tmp
*.bak

# Output folder
output/*

# Keep screenshots folder structure
!output/
!output/UI_1.png
!output/collatz_escape_time_z_gt_1e6_20260615_045451.png
!output/collatz_escape_time_z_gt_1e6_20260615_050009.png
!output/collatz_fractal_20260615_044307.png